################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PartyPulseBackend/.vs/PartyPulseBackend
/PartyPulseBackend/PartyPulseBackend/appsettings.json
/PartyPulseBackend/PartyPulseBackend/bin/Debug/net8.0/appsettings.json
/Debug
/Release